<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(cameraData)" *ngIf="photoTaken">
  <img [src]="cameraUrl" *ngIf="photoSelected" />

  <button block (click)="openCamera()">Open camera 5</button>
  <button block (click)="selectFromGallery()">Select from gallery 5</button>


</ion-content>
